/* SECTIONS HEIGHT*/
header{
    height: 80px;
}

.jumbotron{
    height: 400px;
}

.about{
    height: 400px;
}

.contact{
    height: 400px;
}

/*COLS*/
.col-8{
    height: 150px;
}

.col-10{
    height: 200px;
}