/*Utils*/
img{
    width: 100%;
}

li{
    list-style-type: none;
}

/* BACKGROUND COLOR*/
.dark-blue{
    height: 80px;
    background-color: #2C3D50;
}

/*COLS*/
.col{
    min-height: 100px;
}

.col-10{
    min-height: 100px;
}

/*Header*/
.btn-white{
    border: 1px solid white;
}

/*Jumbotron*/
#jumbotron{
    background-color: #1ABC9C;
    text-align: center;
}

#jumbotron img{
   height: 300px;
}

.line-width{
    width: 80px;
}

/*Portfolio*/
#portfolio{
    text-align: center;
}

/*About*/
#about{
    background-color: #1ABC9C;
    text-align: center;
}

/*Contact*/
.title-contact{
    text-align: center;

}

.btn-green{
    background-color:#1ABC9C;

}

/*Footer*/
footer{
    background-color: #3A546D;
    text-align: center;
}

.main-footer li{
    border: 1px solid white;
    padding: 5px 10px;
    border-radius: 50%;
}

.text-green{
    color: #1ABC9C;
}

.secondary-footer{
    background-color: #2C3D50;
    min-height: 60px;
    padding-top: 40px;
}
