/* SECTIONS HEIGHT*/
header{
    height: 80px;
    border: 1px dashed black;
}

.section{
    min-height: 400px;
    border: 1px dashed black;

}

.container{
    border: 1px dashed black;
}

.container-fluid{
    border: 1px dashed black;
}

/*COLS*/

.col{
    min-height: 100px;
    border: 1px dashed black;
}

.col-10{
    min-height: 100px;
}

